{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="detail-title">{{product.name}}</h2>

    <div class="detail-page">

        <img class="product-img" src="{% static 'img/coffee.jpg' %}" alt="">

        <div class="product-info">
            <p><strong>price:</strong>{{product.price}} $</p>
            <p><strong>shop:</strong><a href="{% url 'shops:detail' product.shop.name %}">{{product.shop}}</a></p>
            <p><strong>description:</strong>{{product.description}}</p>
        </div>

    </div>

</div>

<div class="container">
    <h2 class="detail-title">Comments</h2>
    <div class="comments">
        {% for comment in product.comments.all %}
            <div class="comment-card">
                <div class="comment-title">
                    <strong>{{comment.user}}</strong>
                </div>
                <div class="comment-content">
                    <p>{{comment.text}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="position-button">
    <a href="{% url 'reviews:add-comment' product.name %}">
        <button>Add comment</button>
    </a>
    <a href="{% url 'menu:edit' product.name %}">
        <button>Edit</button>
    </a>
    <a href="{% url 'menu:delete' product.name %}">
        <button class="danger">Delete</button>
    </a>
</div>

{% endblock %}