{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">

    <form class="form-control" data-bitwarden-watching="1" action="{% url 'users:login' %}" method="post">
        <h2 class="text-center">Welcome!</h2>
        {% csrf_token %}
        <div class="row">
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            {% if form.errors %}
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-primary" role="alert">
                {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% render_field form.email placeholder=form.email.name %}
            {% render_field form.password placeholder=form.password.name %}
        </div>

        <input type="hidden" name="next" value="{{ next }}">
        <button class="form-button" type="submit" value="Log-in">Login</button><br>
        <div class="text-center">
            <a class="form-link" href="{% url 'users:password_reset' %}" class="mb-10">Forgot password?</a><br>
            <a class="form-link" href="{% url 'users:register' %}" class="mb-10">Don't have account? Create<a>
        </div>

    </form>

</div>
{% endblock %}