{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <form class="form-control" method="post">
            <h2 class="text-center">Reset Password</h2>
            {% if validlink %}
                {{form|crispy}}
                <button type="submit" class="form-button">Save new password</button>
            {% else %}
                <p>Invalid reset password token</p>
            {% endif %}
        </form>
    </div>
{% endblock %}