{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="text-center">
    <form class="form-control" style="border: none" action="{% url 'users:profile_edit' %}" method="post">
        <h2 class="text-center"><strong>Welcome, {{ object.email }}!</strong></h2>
        {% csrf_token %}

        {% for field in form %}
            {% render_field field class="form-control form-control-sm" placeholder=field.name %}
        {% endfor %}

        <button class="form-button" type="submit" value="ProfileEdit">Save Changes</button><br>
    </form>

    <h2 class="detail-title">Favorites:</h2>

    <div class="detail-page">
        {% for product in object.favorites.all %}
            <div class="product-info">
                <strong>{{product.name}}</strong>
                <a href="{% url 'menu:detail' product.name %}">Show more</a>

                <form action="{% url 'menu:unlike' product.name %}" method="post">
                    {% csrf_token %}
                    <button class="danger" type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}