{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container">

{% include 'base/filter_form.html' %}

<div class="catalog_items">
{% for shop in shops %}
<div class="product-card">
    <img class="product-img" src="{% static 'img/shop.jpg' %}" alt="">
    <div class="product-info">
        <h3>{{shop.name}}</h3>
        <p>{{shop.address}} $</p><br>
        <strong>{{product.town}}</strong><br>
        <a href="{% url 'shops:detail' shop.name %}">Show detail</a>
    </div>
</div>

{% endfor %}
</div>
{% endblock %}