{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h2 class="detail-title">Are you sure you want to delete the Shop "{{ object.name }}"?</h2>

    <div class="text-center message-buttons">
        <form action="{% url 'shops:delete' object.name %}" method="post">
            {% csrf_token %}
            <button class="danger" type="submit">Delete</button>
        </form>

        <a href="{% url 'shops:detail' object.name %}">
            <button class="cancel">Cancel</button>
        </a>
    </div>
</div>
{% endblock %}