{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="detail-title">{{shop.name}}</h2>

    <div class="detail-page">

        <img class="product-img" src="{% static 'img/shop.jpg' %}" alt="">

        <div class="product-info">
            <p>{{shop.opening_time}} - {{shop.closing_time}}</p>
            <p><strong>address:</strong> {{shop.address}}</p><br>
            <p><strong>phone:</strong> {{shop.phone_number}}</p>

        </div>
    </div>
</div>

{% endblock %}