table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 2px solid rgb(124, 102, 96);
}

th,
td {
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    width:fit-content;
}

th {
    padding-top: 20px;
}