{% load static %}
<footer>

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="{% static 'img/coffee.jpg' %}" alt="">
            </div>
            <div class="terms">
                <p>Coffee is one of the most popular beverages in the world. It is a drink made from roasted coffee beans, which are the seeds of berries from the Coffee plant. The aroma and taste of the coffee can vary depending on the type of beans, roasting and the method of brewing.</p>
            </div>
        </div>

        <div class="box__footer">
            <h2>Company</h2>
            <a href="https://github.com/FireFading">About author</a>
            <a href="{% url 'reviews:questions' %}">Questions</a>
            <a href="#">Contacts</a>
        </div>

        <div class="box__footer">
            <h2>Main</h2>
            <a href="{% url 'menu:catalog' %}">Menu</a>
            <a href="{% url 'shops:all' %}">Shops</a>
            <a href="{% url 'recipes:all' %}">Recipes</a>
        </div>

        <div class="box__footer">
            <h2>Profile</h2>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile_edit' %}">Edit</a>
                <a href="{% url 'users:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
            {% endif %}
        </div>
    </div>

    <div class="box__copyright">
        <hr>
        <p>2023, Svetlana Rudneva <b>Orel</b></p>
    </div>
</footer>