{% load static %}
<header>
    <div class="overlay">
        <a href="{% url 'base:home' %}">
            <h1>Coffee</h1>
        </a>
        <nav am-layout="horizontal">
            <a href="{% url 'menu:catalog' %}">Menu</a>
            <a href="{% url 'shops:all' %}">Shops</a>

            {% if user.is_authenticated %}
                <a href="{% url 'users:profile_edit' %}">Profile</a>
                <a href="{% url 'users:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
            {% endif %}

        </nav>
    </div>
</header>