{% load static %}
<header>
    <div class="overlay">
        <a href="{% url 'base:home' %}">
            <h1>Coffee</h1>
        </a>
        <div>
            <h3>Days Before Summer Coffee Party</h3>
            <p id="timer"></p>
            <dialog id="favDialog">
                <form method="dialog">
                <p>
                    <label for="favAnimal">Favorite animal:</label>
                    <select id="favAnimal" name="favAnimal">
                        <option></option>
                        <option></option>
                        <option>Red panda</option>
                        <option>Spider monkey</option>
                    </select>
                </p>
                <div>
                    <button id="cancel" type="reset">Wait</button>
                    <button type="submit">Wait</button>
                </div>
                </form>
            </dialog>
            <div>
                <button id="showDetails">Learn More</button>
            </div>
        </div>
        <nav am-layout="horizontal">
            <a href="{% url 'menu:catalog' %}">Menu</a>
            <a href="{% url 'shops:all' %}">Shops</a>
            <a href="{% url 'orders:cart' %}">Cart</a>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile_edit' %}">Profile</a>
                <a href="{% url 'users:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
            {% endif %}

        </nav>
    </div>
    <script src="{% static 'js/timeout.js' %}" rel="js" type="text/javascript"></script>

    <script>
        const updateButton = document.getElementById("showDetails");
        const cancelButton = document.getElementById("cancel");
        const dialog = document.getElementById("favDialog");
        dialog.returnValue = "favAnimal";

        function openCheck(dialog) {
        if (dialog.open) {
            console.log("Dialog open");
        } else {
            console.log("Dialog closed");
        }
        }

        // Update button opens a modal dialog
        updateButton.addEventListener("click", () => {
        dialog.showModal();
        openCheck(dialog);
        });

        // Form cancel button closes the dialog box
        cancelButton.addEventListener("click", () => {
        dialog.close("animalNotChosen");
        openCheck(dialog);
        });

    </script>
</header>